/* Mobile & Tablet */

@media (max-width: 1023px) {

      :root {
        --header-height: 68px;
        --navbar-height: 0px;
      }
      .hide-on-mobile-table {
          display: none;
      }
}

/* Tablet */

@media (min-width:740px) and (max-width:1023px) {
    .hide-on-table {
        display: none;
    }
}

/* Mobile */

@media (max-width: 739px) {
     .hide-on-mobile {
         display: none;
     }
}